Downloads/
packages/
.zsh_history
.bash_history
.key_history
.vim/
.fontconfig/
.antigen/
.ICEauthority
.cargo/
.zcompdump*
.wget-hsts
.mozilla/
.gnome/
.cache/
.bashrc
.bash_logout
.rustup/
.python_history
.profile
.pki/
.oh-my-zsh/
.nv/
.multirust
.local/
.gnupg/
.viminfo
