Downloads/
packages/
.zsh_history
.bash_history
.key_history
.lesshst
.ssh/
.vim/
.fontconfig/
.antigen/
.ICEauthority
.cargo/
.zcompdump*
.wget-hsts
.mozilla/
.gnome/
.cache/
.bashrc
.bash_logout
.rustup/
.python_history
.profile
.pki/
.oh-my-zsh/
.nv/
.multirust
.local/
.gnupg/
.viminfo
.CLion2018.2/
.GoLand2018.2/
.IntelliJIdea2018.2/
.PhpStorm2018.2/
.PyCharm2018.2/
Projects/
go/
.sudo_as_admin_successful
.java/
.npm/
testing/
Work/
WorkCT/

.config/*
!.config/awesome/
